<div class="columns is-centered is-multiline is-mobile">
  {% for post in site.posts %}
  {% if post.path contains 'project_posts' %} <!-- if post is a project post -->
    <div class="column has-text-centered is-paddingless is-marginless is-one-third-widescreen is-one-third-desktop is-one-fifth-fullhd is-one-third-tablet is-two-fifths-mobile is-three-quarters-touch"
      id="project-card">
      <a href="{{post.url | absolute_url}}" target="_blank">
      <div class="has-background-black card">
        <figure class="image is-3by1" style="background-image: url({{post.post-image}});">
        </figure>
        <div class="card-content">
          <h1 class="title has-text-white is-size-4">{{ post.title }}</h1>
          <p class="has-text-white has-text-weight-light content">{{ post.description | truncate: 100}}</p>
        </div>
      </div>
      </a>
    </div>
  {% endif %}
  {% endfor %}
</div>